---
title: Seagulls | Polzeath Holidays
description: Seagulls is a 5 bedroom holiday home located in the sought-after beach village of New Polzeath on the Cornwall's North coast
---

{% set css %}
  {% include "styles/reset.css" %}
  {% include "styles/global.css" %}
  {% include "styles/layout.css" %}
  {% include "styles/body.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://polzeathholidays.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <aside class="sidebar">{% include "sidebar.njk" %}</aside>
    <main class="main">
      {{ content | safe }}
    </main>
  </body>
</html>
