<header class="header">
  <h1>{% include "svg/seagulls.svg" %}</h1>
  <h2>Polzeath, Cornwall</h2>
</header>

<nav class="nav">
  <ul>
    <li><a href="#location" class="active">Location</a></li>
    <li><a href="#house">House</a></li>
    <li><a href="#availability">Availability & Pricing</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
