<header class="header">
  <h1>
    {% include "svg/seagulls.svg" %}
  </h1>
  <h2>Polzeath, Cornwall</h2>
</header>

<nav class="nav">
  <a href="#location" class="active">Location</a>
  <a href="#house">House</a>
  <a href="#availability">Availability & Pricing</a>
  <a href="#contact">Contact</a>
</nav>
