<table class="availability__table" id="availability">
  <thead>
    <tr class="availability__row availability__row--header">
      <th>Availability 
        <span class="hide--mobile" aria-hidden="false">week commencing</span>
        <span class="hide--desktop" aria-hidden="true">W/C</span>
        </th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="availability__body">
    {% for booking in bookings %}
    <tr class="availability__row availability__row--{{ booking.status }}">
      <td>
        <span class="hide--mobile" aria-hidden="false">{{
          booking.date | formatDate
        }}</span>
        <span class="hide--desktop" aria-hidden="true">{{
          booking.date | formatDateShort
        }}</span>
      </td>
      <td>{{ booking.price | formatPrice }}</td>
      <td>{{ booking.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
