<section class="block" id="contact">
  <h2>Contact</h2>
  <p>If you would like more information about Seagulls, or wish to make a booking, please call Jennie on 07575&nbsp;742723 or e-mail rachelinkl@gmail.com</p>
  <p>For bookings of 4 people or less please contact us for special&nbsp;rates.</p>
</section>
