<section class="block" id="contact">
  <h2>Contact</h2>
  <p>If you would like more information about Seagulls, or wish to make a booking, please call on 01249&nbsp;463548 or email chrisdann001@gmail.com</p>
</section>
