<section class="gallery" id="house">
  {% for photo in photos %}
    <figure class="gallery__item" style="--height:{{ photo.height }}">
      <img src="/assets/photos/{{ photo.src }}" aria-labelledby="photo-{{ photo.src | slugify }}" loading="lazy" />
      <p id="photo-{{ photo.src | slugify }}">{{ photo.caption }}</p>
    </figure>
  {% endfor %}
</section>

<section class="floorplans">
  <h2 class="floorplans__title">Floorplan</h2>
  <figure class="floorplans__grid">
    {% include "svg/floorplan-g.svg" %}
    {% include "svg/floorplan-1.svg" %}
  </figure>
</section>
