#map {
  width: 100%;
  width: calc(100% + 2px);
  height: 500px;
  margin-left: -2px;
  z-index: 10;
}

.floorplans {
  position: relative;
}

.floorplans__title {
  position: absolute;
  top: 2em;
  right: 2em;
}

.floorplans__grid {
  padding: 2em 0 0 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.floorplans img {
  width: 100%;
}

.gallery {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: masonry;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.gallery__item {
  grid-row-end: span var(--height);
}

.gallery img {
  width: 100%;
  border: 2px solid var(--color-divider);
}

.gallery p {
  margin: 0.5em 0 0;
  font-size: min(0.75em, 18px);
}

.availability__table {
  width: 100%;
  position: relative;
  padding: 0 1.5em;
}

.availability__row {
  display: flex;
  position: relative;
}

.availability__row--header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--color-bg);
  padding: 0.5em 0;
}

.availability__row--header >:nth-child(1):before,
.availability__row--header >:nth-child(1):after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 100%;
  background: var(--color-bg);
  top: 0;
}

.availability__row--header >:nth-child(1):before {
  left: -1.5em;
}

.availability__row--header >:nth-child(1):after {
  right: -1.5em;
}

.availability__body .availability__row:nth-child(odd) {
  background: var(--color-bg-off);
}
.availability__row >:nth-child(1) {
  flex: 2 0 0;
  text-align: left;
  padding-left: 0.5em;
}

.availability__row >:nth-child(2) {
  flex: 1 0 0;
  text-align: right;
}

.availability__row >:nth-child(3) {
  flex: 1 0 0;
  text-align: right;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.availability__row--Pending td {
  opacity: 0.7;
}

.availability__row--Booked td {
  opacity: 0.4;
}

.availability__row--Booked >:nth-child(1):before {
  content: '';
  position: absolute;
  width: 100%;
  width: calc(100% + 3em);
  height: 2px;
  background: var(--color-text);
  opacity: 0.2;
  top: 0.75em;
  left: -1.5em;
}
