.sidebar {
  position: sticky;
  top: 0;
  background: var(--color-bg);
  padding: 1em 2em 0.5em;
  border-bottom: 2px solid var(--color-divider);
  z-index: 100;
}

@media (max-width: 700px) {
  * {
    scroll-margin-top: 220px;
  }
}

@media (min-width: 700px) {
  .sidebar {
    position: fixed;
    width: calc(20% + 100px);
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 0;
    padding: 2em 1em 1em 1.5em;
    border-right: 2px solid var(--color-divider);
    z-index: 1;
  }

  .main {
    padding-left: calc(20% + 100px);
  }
}

.sidebar svg {
  width: clamp(180px, 20vw, 320px);
}

.sidebar h2 {
  margin-top: -0.5em;
}

.nav {
  margin: 0.5em 0 0;
}

.nav a {
  text-decoration: none;
}

.block {
  padding: 2em;
}

.block > *:first-child {
  margin-top: 0;
}

.block > *:last-child {
  margin-bottom: 0;
}

.hide--mobile {
  display: none;
}

@media (min-width: 500px) {
  .hide--desktop {
    display: none;
  }
  .hide--mobile {
    display: unset;
  }
}
